<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{
    title: "arma tu equipo"
}) %>

<body>
    <%- include('../partials/header') %>
    <main class="home_main">
      <section class="combos_productos-titulo">
        <h1 class="combos_productos-titulo-h1">Bolso</h1>
    </section>
    <i class="fa-sharp fa-solid fa-filter" > filtrar</i>
    <section class="arma_tu_equipo_atras_sig">
        <h1 class="arma_tu_equipo_atras_sig-h1"><a href="/productos/arma_tu_equipo2">atras</a></h1>
       <h1 class="arma_tu_equipo_atras_sig-h1-2"> <a href="/productos/arma_tu_equipo4">siguiente</a></h1>
    </section>
      <%- include('../partials/menu2.ejs') %>
<section class="combos_productos">
   
           
            <div class="combos_menu_destacados-imagenes">
                
                <%products.filter(product => product.typeproductsId === 6).forEach(product => { %>
                    <a href="/productos/arma_tu_equipo5"></a><%- include('../partials/cardProduct2',{
                        product
                    }) %>
                <% }) %>
                </a>
            </div>
            

            

      
            </section>

       
    </main>
    <%- include('../partials/footer') %>
    


</body>

</html>