<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: `Editar ${name || 'Producto'}` }) %>

  <body class="bg-light">

    <%- include('../partials/header-admin') %>

      <main class="container mt-5">
        <section class="row my-5">
          <div class="col-12 col-md-10 mx-auto">
            <div class="card shadow">
              <div class="card-header d-flex justify-content-between align-items-center bg-primary text-white">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin" class="text-light">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Editando <%= name %>
                    </li>
                  </ol>
                </nav>
              </div>
              <div class="card-body">
                <form action="/productos/actualizar/<%= id %>?_method=PUT" class="row" method="POST"
                  enctype="multipart/form-data">
                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                      <select name="typeproductsId"
                        class="form-select <%= (locals.errors && errors.typeproductsId)  && 'is-invalid'%>"
                        id="typeproductsId" aria-label="Floating label select example">
                        <option value="" selected hidden></option>
                        <% typeproductes.forEach(typeproducts=> { %>
                          <option value="<%= typeproducts.id %>" <%=typeproductsId==typeproducts.id && 'selected' %>><%=typeproducts.name %>
                          </option>
                          <% }) %>
                      </select>
                      <label for="typeproducts">Producto</label>
                    </div>
                    <small class="text-danger ms-2">
                      <%= (locals.errors && errors.typeproducts) && errors.typeproducts.msg %>
                    </small>

                  </div>


                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating ">
                      <input name="name" type="text" class="form-control" id="name" value="<%= name %>">
                      <label for="name">Nombre</label>
                    </div>
                    <small class="text-danger ms-2">
                      <%= (locals.errors && errors.name) && errors.name.msg %>
                    </small>
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                      <select name="categoryId"
                        class="form-select <%= (locals.errors && errors.categoryId)  && 'is-invalid'%>" id="categoryId"
                        aria-label="Floating label select example">
                        <option value="" selected hidden></option>
                        <% categories.forEach(category=> { %>
                          <option value="<%= category.id %>" <%=categoryId==category.id && 'selected' %>><%=
                              category.name %>
                          </option>
                          <% }) %>
                      </select>
                      <label for="category">Categoría</label>
                    </div>
                    <small class="text-danger ms-2">
                      <%= (locals.errors && errors.category) && errors.category.msg %>
                    </small>

                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating ">
                      <input name="price" type="number" class="form-control" id="price" value="<%= price %>">
                      <label for="price">precio</label>
                    </div>
                    <small class="text-danger ms-2">
                      <%= (locals.errors && errors.price) && errors.price.msg %>
                    </small>
                  </div>

                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                      <select name="materialsId"
                        class="form-select <%= (locals.errors && errors.materialsId)  && 'is-invalid'%>" id="materialsId"
                        aria-label="Floating label select example">
                        <option value="" selected hidden></option>
                        <% materiales.forEach(materials=> { %>
                          <option value="<%= materials.id %>" <%=materialsId==materials.id && 'selected' %>><%=  materials.name %>
                          </option>
                          <% }) %>
                      </select>
                      <label for="materials">Material</label>
                    </div>
                    <small class="text-danger ms-2">
                      <%= (locals.errors && errors.materials) && errors.materials.msg %>
                    </small>

                  </div>

                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating ">
                      <input name="quantityInStock" type="number" class="form-control" id="quantityInStock"
                        value="<%= quantityInStock %>">
                      <label for="quantityInStock">Cantidad</label>
                    </div>
                    <small class="text-danger ms-2">
                      <%= (locals.errors && errors.quantityInStock) && errors.quantityInStock.msg %>
                    </small>
                  </div>

                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                      <select name="compatibilitieId"
                        class="form-select <%= (locals.errors && errors.compatibilitieId)  && 'is-invalid'%>" id="compatibilitieId"
                        aria-label="Floating label select example">
                        <option value="" selected hidden></option>
                        <% compatibilities.forEach(Capabilitie=> { %>
                          <option value="<%= Capabilitie.id %>" <%=compatibilitieId==Capabilitie.id && 'selected' %>><%=  Capabilitie.name %>
                          </option>
                          <% }) %>
                      </select>
                      <label for="Capabilitie">Capacidad</label>
                    </div>
                    <small class="text-danger ms-2">
                      <%= (locals.errors && errors.Capabilitie) && errors.Capabilitie.msg %>
                    </small>

                 
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating ">
                      <input name="brand" type="text" class="form-control" id="brand" value="<%= tamanio %>">
                      <label for="brand">marca</label>
                    </div>
                    <small class="text-danger ms-2">
                      <%= (locals.errors && errors.brand) && errors.brand.msg %>
                    </small>
                  </div>

                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating ">
                      <input name="tamanio" type="number" class="form-control" id="tamanio" value="<%= tamanio %>">
                      <label for="tamanio">tamaño</label>
                    </div>
                    <small class="text-danger ms-2">
                      <%= (locals.errors && errors.tamanio) && errors.tamanio.msg %>
                    </small>
                  </div><!--
                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating ">
                      <input name="color" type="text" class="form-control" id="color" value="">
                      <label for="color">color</label>
                    </div>
                  </div>-->
                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating ">
                      <input name="discount" type="number" class="form-control" id="discount" value="<%= discount %>">
                      <label for="discount">descuento</label>
                    </div>
                    <small class="text-danger ms-2">
                      <%= (locals.errors && errors.discount) && errors.discount.msg %>
                    </small>
                  </div>

                  <div class="col-12 col-md-3 mb-3">
                    <input name="mainImage" type="file" class="form-control" id="mainImage" hidden>
                    <label class="btn btn-lg btn-outline-dark w-100" for="mainImage">Imagen principal</label>
                </div>
                <div class="col-12 col-md-3 mb-3">
                  <input  name="images" type="file" class="form-control" id="images" hidden multiple>
                  <label class="btn btn-lg btn-outline-dark w-100" for="images">Imágenes</label>
              </div>

                  <div class="col-12 mb-3">
                    <div class="form-floating">
                      <textarea name="description"
                        class="form-control <%= (locals.errors && errors.description) && 'is-invalid' %>"
                        id="description" style="height: 150px;"><%= description %></textarea>
                      <label for="description">Descripción</label>
                    </div>
                    <small class="text-danger ms-2">
                      <%= (locals.errors && errors.description) && errors.description.msg %>
                    </small>

                  </div>

                  <div class="col-12 d-flex justify-content-end mt-4">
                    <button class="btn btn-lg btn-dark">Guardar cambios</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </section>
      </main>

      <%- include('../partials/scripts') %>
      <script src="/js/product-add.js"></script>
      <script src="/js/productAddValidator.js"></script>
  </body>

</html>