<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{
    title : "super_combos"
}) %>

<body>
    <%- include('../partials/header') %>
    <main class="home_main">
            <!-- Swiper -->
            <%- include('../partials/banner_1') %>
        <!---section--->
        <section class="combos_productos-titulo">
            <h1 class="combos_productos-titulo-h1">super_combos</h1>
        </section>
        <i class="fa-sharp fa-solid fa-filter" > filtrar</i>
       
        <section class="home_main-section">
            <%- include('../partials/menu') %>
        </section>
<section class="combos_productos">
            <div class="combos_menu_destacados-imagenes">
                
                <%products.filter(products => products.typeproductsId === 5).forEach(products => { %>
                    <%- include('../partials/cardProduct',{
                        products
                    }) %>
                <% }) %>
                
            </div>

            

      
            </section>

       
    </main>
    <%- include('../partials/footer') %>
    


</body>

</html>