<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{
        title : "ando_mateando"
    }) %>
<body>
    <%- include('./partials/header') %>
    <main class="home_main">
            <!-- Swiper -->
            <%- include('./partials/banner_1') %>
        <!---section--->
        <section class="home_main-section">
            <%- include('./partials/menu') %>
            <section class="home_menu_destacados-imagenes">
         
              
                <article class="home_main-section-img">
                    <a href="/productos/arma_tu_equipo"><img src="./images/vista_armatuset.png" alt=""></a>
                    <a class="home_main-section-img-letra">arma tu set de mate</a>
                </article>
                
                <article class="home_main-section-img">
                    <a href="/productos/todos_productos"><img src="./images/todos_los_productos.jpg" alt=""></a>
                    <a class="home_main-section-img-letra" href="/productos/todos_productos">todos los productos</a>
                </article>
                <article class="home_main-section-img">
                    <a href="/productos/tuequipo"><img src="./images/vista_armatumate.png" alt=""></a>
                    <a class="home_main-section-img-letra">diseña tu equipo</a>
                </article>
   
                <article class="home_main-section-img">
                    <a href="/productos/todos_productos?type=2"><img src="./images/termo.jpg" alt=""></a>
                    <a class="home_main-section-img-letra" href="/termos">termos</a>
                     </article>
                     
                 <article class="home_main-section-img">
                    <a href="/productos/todos_productos?type=5"><img src="./images/vista_supercombos.png" alt=""></a>
                    <a class="home_main-section-img-letra" href="/super_combos" > combos</a>
                </article>
                <article class="home_main-section-img">
                <a href="/productos/todos_productos?type=1"> <img src="./images/vista_mate.png" alt=""></a>
                <a class="home_main-section-img-letra" href="/mate">mates</a>
                 </article>
                 <article class="home_main-section-img">
                    <a href="/productos/todos_productos?type=3"><img src="./images/vista_yerbera.png" alt=""></a>
                    <a class="home_main-section-img-letra" href="set_yerbero"> set yerbera</a>
                     </article>   
               
                 
                 <article class="home_main-section-img">
                    <a href="/productos/todos_productos?type=6"><img src="./images/bolso_de_mate.jpg" alt=""></a>
                    <a class="home_main-section-img-letra" href="/productos/bolso">bolsos de mate</a>
                     </article>
                     <article class="home_main-section-img">
                        <a href="/productos/todos_productos?type=4"><img src="./images/vista_bombilla.png" alt=""></a>
                        <a class="home_main-section-img-letra" href="/productos/bombillas">bombillas</a>
                         </article>
                        </section>

                 </section>
    </main>
    <%- include('./partials/footer') %>



</body>

</html>