<!-- Modal -->
<div class="modal fade" id="exampleModal<%= id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><%= name %></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 col-md-4">
                    <img src="/images/productos/<%= image %>" alt=""  height="150px">
                </div>
                <div class="col-12 col-md-8">
                    NOMBRE: <%= name %>, <br>
                    PRECIO: <%= price %> <br>
                    MARCA: <%= brand%> <br>
                    COLOR: <%= color %> <br>
                    TAMAÑO: <%= tamanio %> <br>
                    CANTIDAD: <%= quantityInStock %> <br>
                    DESCRIPCION: <%= description %> <br>
                  
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
        </div>
      </div>
    </div>
  </div>